.dart_tool/package_config.json
.idea/.gitignore
.idea/modules.xml
.idea/nexi_payment.iml
.idea/vcs.xml
.idea/codeStyles/Project.xml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_Plugins.xml
.idea/
.dart_tool/package_config_subset
.dart_tool/version
